*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
#*.json
*.dex
*.bin
**/.idea
**/build
#**/gradle
*gradlew.bat
**/gradlew

# Node Ignore
**/node_modules
node/metasquare-crm/public/js/firebase/i2bsys_fb_login.js
